{% extends 'base.html.twig' %}

{% block title %}homepage
{% endblock %}

{% block body %}
	{# contenu titre #}
	<div class="container-fluid text-white">
		<div class="box row">
			<div class="col-md-7 d-flex justify-content-between align-items-center mx-3 px-5">
				<h5>Bonjour Erwan</h5>
				<div class="boxtitre col-3 d-flex justify-content-center align-items-center px-3">
					<h1>Mes Projets</h1>
				</div>
			</div>
		</div>
		{# menu nav #}
		<div class="boxmenu row justify-content-center">
			<div class="menu col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4 d-flex justify-content-evenly align-items-center px-5">
				{% if not app.user %}
					<a class="" href="{{path('subscription')}}">
						<i class="fa-solid fa-user"></i>inscription</a>
					<a class="" href="{{path('login')}}">
						<i class="fa-solid fa-user"></i>connexion</a>
				{% else %}
					<a class="" href="{{path('security_logout')}}">
						<i class="fa-solid fa-power-off"></i>deconnexion</a>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<a class="" href="{{path('dashboard')}}">
						<i class="fa-solid fa-desktop"></i>panel admin</a>
				{% endif %}
			</div>
		</div>
		{# modal de nouveau projet #}
		<div class="row justify-content-center m-5 p-4">
			{% if app.user %}
				<div class="boxmenu row justify-content-center my-3">
					<button class="btnadd" type="button" data-modal-trigger="sample-modal2"><img class="btnadditem" src="{{asset("build/images/plus.svg")}}" alt=""></button>
				</div>
				<div class=" modal justify-content-center" data-modal-name="sample-modal2" data-modal-dismiss>
					<div class="box-additem col-12 col-md-8 bg_form my-5">
						<div class="d-flex justify-content-center my-5">
							<h3>Ajout Projet</h3>
						</div>

						{{ form_start(projetForm) }}
						<div class="mx-4 my-5">
							{{ form_row(projetForm.titre) }}
						</div>
						<div class="mx-4 my-5">
							{{ form_row(projetForm.lien_projet) }}
						</div>
						<div class="mx-4 my-5">
							{{ form_row(projetForm.lien_github) }}
						</div>
						<div class="mx-auto w-25 my-5">
							{{ form_row(projetForm.image) }}
						</div>
						<div class="mx-auto w-25 my-5">
							{{ form_row(projetForm.captcha) }}
						</div>
						<div class="d-flex justify-content-center my-5">
							<button type="submit" class="btnco" id="btnajax" data-action="modal-form#submitForm">valider</button>
						</div>
						{{ form_end(projetForm) }}
					</div>
				</div>
			{% endif %}
			{# presentation des projet inscrit en bdd #}
			<div class="row d-flex justify-content-center my-5" id='projet_list'>
				{% for contenu in contenu %}
					{% if contenu.archive == 0 %}
						{% include '_partials/_card.html.twig' %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<footer class="fixed-bottom">
			<div class="footer container-fluid ">
				<div class="col-md-3 d-flex justify-content-center">
					<h5 class="textfooter">&copy;.Copyright by Erwan</h5>
				</div>
			</div>
		</footer>
	</div>
	<script>
		var _targettedModal,
_triggers = document.querySelectorAll('[data-modal-trigger]'),
_dismiss = document.querySelectorAll('[data-modal-dismiss]'),
modalActiveClass = "is-modal-active";

function showModal(el) {
_targettedModal = document.querySelector('[data-modal-name="' + el + '"]');
_targettedModal.classList.add(modalActiveClass);
}

function hideModal(event) {
if (event === undefined || event.target.hasAttribute('data-modal-dismiss')) {
_targettedModal.classList.remove(modalActiveClass);
}
}

function bindEvents(el, callback) {
for (i = 0; i < el.length; i ++) {
(function (i) {
el[i].addEventListener('click', function (event) {
callback(this, event);
});
})(i);
}
}

function triggerModal() {
bindEvents(_triggers, function (that) {
showModal(that.dataset.modalTrigger);
});
}

function dismissModal() {
bindEvents(_dismiss, function (that) {
hideModal(event);
});
}

function initModal() {
triggerModal();
dismissModal();
}

initModal();

const formProjet = document.querySelector('form');
const listprojet = document.querySelector('#projet_list');
formProjet.addEventListener('submit', function (e) {
e.preventDefault();

fetch(this.action, {
body: new FormData(e.target),
method: 'POST'

}).then(response => response.json()).then(json => {
handleResponse(json);
});
})
const handleResponse = function (response) {
switch (response.code) {
case 'PROJET_ADDED_SUCCESSFULLY': listprojet.innerHTML += response.html;
break;
}
}
	</script>
{% endblock %}
