{% extends 'base.html.twig' %}

{% block title %}homepage
{% endblock %}

{% block body %}
	{# contenu titre #}
	<div class="container-fluid text-white">
		<div class="box row">
			<div class="col-md-7 d-flex justify-content-between align-items-center mx-3 px-5">
				<h5>Bonjour Erwan</h5>
				<div class="boxtitre col-3 d-flex justify-content-center align-items-center px-3">
					<h1>Mes Projets</h1>
				</div>
			</div>
		</div>
		{# menu nav #}
		<div class="boxmenu row justify-content-center">
			<div class="menu col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4 d-flex justify-content-evenly align-items-center px-5">
				{% if not app.user %}
					<a class="" href="{{path('subscription')}}">
						<i class="fa-solid fa-user"></i>inscription</a>
					<a class="" href="{{path('login')}}">
						<i class="fa-solid fa-user"></i>connexion</a>
				{% else %}
					<a class="" href="{{path('security_logout')}}">
						<i class="fa-solid fa-power-off"></i>deconnexion</a>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<a class="" href="{{path('dashboard')}}">
						<i class="fa-solid fa-desktop"></i>panel admin</a>
				{% endif %}
			</div>
		</div>
		{# modal de nouveau projet #}
		<div class="row justify-content-center m-5 p-4">
			<div class="boxmenu row justify-content-center my-3">
				<button class="btnadd" type="button" onclick="show('id1')"><img class="btnadditem" src="{{asset("build/images/plus.svg")}}" alt=""></button>
			</div>
			<div class=" modal justify-content-center" id="id1" style="display: none;">
				<div class="box-additem col-12 col-md-8 bg_form my-5">
					<a class="btnquitt d-flex justify-content-end" href="{{path('home')}}">
						<p class="x">X</p>
					</a>
					<div class="d-flex justify-content-center my-5">
						<h3>Ajout Projet</h3>
					</div>

					{{ form_start(projetForm) }}
					<div class="mx-4 my-5">
						{{ form_row(projetForm.titre) }}
					</div>
					<div class="mx-4 my-5">
						{{ form_row(projetForm.lien_projet) }}
					</div>
					<div class="mx-4 my-5">
						{{ form_row(projetForm.lien_github) }}
					</div>
					<div class="mx-auto w-25 my-5">
						{{ form_row(projetForm.main_image) }}
					</div>
					<div class="d-flex justify-content-center my-5">
						<button type="submit" class="btnco">valider</button>
					</div>
					{{ form_end(projetForm) }}
				</div>
			</div>
			{# presentation des projet inscrit en bdd #}
			{% for contenu in contenu %}
				{% if contenu.archive == 0 %}
					<div class="card_projet card m-2">
						<a href="{{contenu.lienprojet}}">
							<img class="img_card d-flex justify-content-center my-3" src="{{asset('/uploads/' ~ contenu.mainimage)}}">
							<div class="titre_card mx-5 d-flex justify-content-center">
								<h5>{{contenu.titre}}</h5>
							</div>
							<div class="name_card">
								<h5>Createur:
									{{contenu.relation.username}}</h5>
							</div>
							<div class="date_card">
								<h5>Date:
									{{contenu.createdat|date('d/m/Y', "Europe/Paris")}}</h5>
							</div>
						</a>
						<a class="remove d-flex justify-content-end pb-3" href="{{path('traitement_archive_project', {id:contenu.id , action:archive}) }}"><img style="width: 50px; border: 1px solid white; border-radius:50%; background-color: white;" src="{{asset("build/images/moin.svg")}}" alt=""></a>
						<a class="git d-flex justify-content-end pb-3" href="{{contenu.liengithub}}"><img style="width: 50px;" src="{{asset("build/images/github.svg")}}" alt=""></a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<footer class="fixed-bottom">
			<div class="footer container-fluid ">
				<div class="col-md-3 d-flex justify-content-center">
					<h5 class="textfooter">&copy;.Copyright by Erwan</h5>
				</div>
			</div>
		</footer>
	</div>
	<script>
		function show(elementId) {
document.getElementById("id1").style.display = "none";
document.getElementById(elementId).style.display = "flex";
}
	</script>
{% endblock %}
